.result {
  $maxWidth: 365px;
  max-width: $maxWidth;
  height: 503px;

  margin-bottom: 20px;
  margin-left: calc(50% - #{$maxWidth / 2});

  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 330px;
    margin-left: 0;
  }
  @media screen and (min-width: 992px) {
    height: 440px;
  }
  @media screen and (min-width: 1200px) {
    height: 394px;
  }

  &__img {
    height: 100%;
    width: 100%;

    background: #eee;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 2;

    margin: 0;
    padding: 10px;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  &__details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 1;

    padding: 15px;

    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:hover &__details {
    opacity: 1;
  }
}
